{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <div class="header">
        <h1 class="header__title">CM3035 - Advanced Web Development RESTful Endpoints</h1>
    </div>

    {% comment %} First Endpoint {% endcomment %}
    <div class="endpoint">
        <div class="endpoint__title">
            1. Retrieve All Movies
        </div>

        <div class="endpoint__description">
            <p><strong>Method: </strong>GET</p>
            <p><strong>URL: </strong>http://127.0.0.1:8000/movies/all/[?order=OPTIONAL]</p>
            <p>This endpoint retrieves all movies, displaying them in a sets of 10 per page. When accessed without query parameter, the movies are sorted in ascending order by their IDs.</p>
            <p>To customise the sorting order, users can use the optional query parameter <code>?order=</code>. This parameter allows users to modify the sorting option based on their preference.</p>
            <p>Available sorting options are: <code>id_asc</code>, <code>id_desc</code>, <code>title_asc</code>, <code>title_desc</code>, <code>release_asc</code>, <code>release_desc</code>, <code>rating_asc</code>, <code>rating_desc</code>, <code>runtime_asc</code>, <code>runtime_desc</code>, <code>id_asc</code>, <code>id_desc</code>.</p>
        </div>

        <div class="endpoint__url">
            <strong>Example (without sorting query): </strong><a href="http://127.0.0.1:8000/movies/all/">http://127.0.0.1:8000/movies/all/</a><br>
            <strong>Example (with sorting query): </strong><a href="http://127.0.0.1:8000/movies/all/?order=rating_desc">http://127.0.0.1:8000/movies/all/?order=rating_desc</a>
        </div>
    </div>

    <br>

    {% comment %} Second Endpoint {% endcomment %}
    <div class="endpoint">
        <div class="endpoint__title">
            2. Retrieve Movies by Genre(s)
        </div>

        <div class="endpoint__description">
            <p><strong>Method: </strong>GET</p>
            <p><strong>URL: </strong>http://127.0.0.1:8000/movies/genres/[GENRE]/</p>
            <p>This endpoint retrieves all movies associated with the specified genre(s). Users can specify one or multiple genres by separating them with comma in the URL.</p>
        </div>

        <div class="endpoint__url">
            <strong>Example (one genre): </strong><a href="http://127.0.0.1:8000/movies/genres/comedy/">http://127.0.0.1:8000/movies/genres/comedy/</a><br>
            <strong>Example (multi genre): </strong><a href="http://127.0.0.1:8000/movies/genres/comedy,horror/">http://127.0.0.1:8000/movies/genres/comedy,horror/</a>
        </div>
    </div>
    
    <br>

    {% comment %} Third Endpoint {% endcomment %}
    <div class="endpoint">
        <div class="endpoint__title">
            3. Retrieve Movies by Star and/or Director
        </div>

        <div class="endpoint__description">
            <p><strong>Method: </strong>GET</p>
            <p><strong>URL: </strong>http://127.0.0.1:8000/movies/production/?star=[STAR] or http://127.0.0.1:8000/movies/production/?director=[DIRECTOR]</p>
            <p>This endpoint allows users to filter movies based on a specific star or director by providing either the star or director query parameter. Both parameters can also be provided with a <code>&</code> in between to filter movies that match both criteria.</p>
        </div>

        <div class="endpoint__url">
            <strong>Example (star): </strong><a href="http://127.0.0.1:8000/movies/production/?star=artyom bystrov">http://127.0.0.1:8000/movies/production/?star=artyom bystrov/</a><br>
            <strong>Example (director): </strong><a href="http://127.0.0.1:8000/movies/production/?director=edoardo leo">http://127.0.0.1:8000/movies/production/?director=edoardo leo</a><br>
            <strong>Example (star and director): </strong><a href="http://127.0.0.1:8000/movies/production/?star=juwel chowdhury&director=juwel chowdhury">http://127.0.0.1:8000/movies/production/?star=juwel chowdhury&director=juwel chowdhury</a>
        </div>
    </div>

    <br>

    {% comment %} Fourth Endpoint {% endcomment %}
    <div class="endpoint">
        <div class="endpoint__title">
            4. Search Movies by Title Keywords
        </div>

        <div class="endpoint__description">
            <p><strong>Method: </strong>GET</p>
            <p><strong>URL: </strong>http://127.0.0.1:8000/movies/search/?query=[QUERY]</p>
            <p>This endpoint allows users to search for movies by providing keywords in the title. It performs a case-insensitive match, returning all movies that include the specified keyword.</p>
        </div>

        <div class="endpoint__url">
            <strong>Example: </strong><a href="http://127.0.0.1:8000/movies/search/?query=mario/">http://127.0.0.1:8000/movies/search/?query=mario/</a>
        </div>
    </div>
    
    <br>

    {% comment %} Fifth Endpoint {% endcomment %}
    <div class="endpoint">
        <div class="endpoint__title">
            5. Delete a Movie
        </div>

        <div class="endpoint__description">
            <p><strong>Method: </strong>POST</p>
            <p><strong>URL: </strong>http://</p>
        </div>

        <div class="endpoint__url">
            <strong>Example: </strong><a href="http://">http://</a>
        </div>
    </div>

    <br>

    {% comment %} Sixth Endpoint {% endcomment %}
    <div class="endpoint">
        <div class="endpoint__title">
            6. Add a Movie
        </div>

        <div class="endpoint__description">
            <p><strong>Method: </strong>POST</p>
            <p><strong>URL: </strong>http://</p>
        </div>

        <div class="endpoint__url">
            <strong>Example: </strong><a href="http://">http://</a>
        </div>
    </div>

</body>
</html>